<head>
	<title>Like Hangout Chat - Bootsnipp.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="css/chat.css" rel="stylesheet" />
</head>


<div class="container">

<h2><u>Future Scope</u></h2>

<h3>1. store all chat data to db </h3>

<h3>2. floating client properties to slack</h3>

<h3>3. Web cache</h3>

<h3>4. add action buttons to each message</h3>

<h3>5. plugin for android and ios</h3>

<h3>6. application support multiple accounts</h3>

<h3>7. dynamically adding bots to channel</h3>

<h3>8. enhance chat bot by backed with trained data </h3>

<h3>9. searching live user and add them to live chat channel</h3>

<h3>10. based on query, channelize to appropriate agent based on it.</h3>

</div>